body, html {
    height: 100%;
}

body {
	font-family: 'Karma', serif;
}

.bg { 
    background-image: url("../images/background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}                    

